antiorm  ==      1.2.1
asgiref    ==    3.7.2
db         ==    0.1.1
db-sqlite3    == 0.0.1
Django      ==   5.0.3
pip        ==    22.0.2
setuptools    == 59.6.0
sqlite_database  ==  0.4.4
sqlparse  ==       0.4.4